@font-face {
    font-family: 'YaHei';
    src: url(../font/msyh.ttc);
}

@font-face {
    font-family: 'YouYuan';
    src: url(../font/SIMYOU.TTF);
}

html,
body {
    margin: 0;
    background-image: url(../img/树和背景.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

    width: 540px;
    height: 960px;
}

.title-div {
    text-align: center;
}

.page1.title {
    height: 37px;
    font-family: 'YouYuan';
    font-size: 37.5px;
    color: #010101;
    font-weight: normal;
    margin-top: 89.5px;
    margin-bottom: 93.5px;
}

.page1.content-block {
    width: 540px;
    height: 542px;
    overflow-y: scroll;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

li {
    display: inline-block;
    width: 290px;
    height: 57px;
    background-color: #b8c583;
    border-radius: 28.5px;
    font-family: 'YouYuan';
    font-size: 30px;
    color: #010101;
    line-height: 57px;
    margin-bottom: 64px;
}

.page2 {
    display: none;
}

.page2.title {
    height: 44px;
    font-family: 'YouYuan';
    font-size: 45px;
    color: #3f403f;
    font-weight: normal;
    margin-top: 110px;
    margin-bottom: 63.5px;
}

.page2.content-block {
    text-align: center;

}

.head {
    height: 33px;
    font-size: 35px;
    color: #314034;
    margin-bottom: 40.5px;
}

p {
    margin: 0;
}

.content {
    font-family: 'YaHei';
    font-size: 25px;
    color: #2e3b2f;
    width: 331.5px;
    height: 354.5px;
    margin: 0 100.5px 82.5px 108px;
    overflow-y: scroll;
}

.swiper-button-prev {
    background-image: url(../img/prev.png);
    width: 21.5px;
    height: 34px;
    background-size: auto 100%;
    left: 0;
    margin-left: 37.5px;
    outline: none;
    
}

.swiper-button-next {
    background-image: url(../img/next.png);
    width: 21.5px;
    height: 34px;
    background-size: auto 100%;
    right: 0;
    margin-right: 37.5px;
    outline: none;
    
}


.button-div {
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    width: 194px;
    height: 57px;
    border-radius: 28.317px;
    background-color: #747f4c;
    border: solid 5px #74804d;
    font-size: 24.695px;
    color: #f9ffe5;
    line-height: 47px;
    margin: 0 173px;
}

.swiper-button-prev:active,
.swiper-button-next:active,
li:active,
a:active {
    opacity: 0.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}