body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 5vw;
    background-color: #caf6ea;
}

li {
    list-style: none;
}


.button-div {
    text-align: center;

}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    width: 50vw;
    height: 15vw;
    font-size: 1.3em;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;

}

.button.main {
    color: #ffffff;
    background-color: #64bf49;
    border: solid 1px #f6ac24;
    line-height: 14vw;
    margin-top: 22vw;
}

.button.describe {
    color: #64bf49;
    background-color: #e0f1db;
    border: solid 4px #64bf49;
    line-height: 13vw;
    margin-top: 11vw;
}

.title-div {
    text-align: center;
    margin-top: 15vw;
}

.title-img {
    width: 50%;
}

.bottom-div {
    text-align: center;

}
.bottom-img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}




